body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#main.head {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}

.head-content {
    align-items: center;
    width: 940px;
    justify-content: space-between;
}

.head-content, .s1 {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.head-content ul {
    display: flex;
    padding: 0%;
    list-style-type: none;
    gap: 24px;
}

.head-content div {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.s1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.s1-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.s1-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
}

.s1-card button {
    box-sizing: border-box;
    font-size: 18px;
    border: 1px;
    border-radius: 8px;
    width: 130px;
    height: 35px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
}

.s1-img {
    display: flex;
    width: 450px;
    height: 226px;
}

.s2-head {
    display: flex;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.s2 {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.s2-content {
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.s2-card {
    display: flex;
    flex-direction: column;
    width: 170px;
    text-align: center;
    font-size: 18px;
    color: gray;
    gap: 8px;
}

.s2-img {
    width: 170px;
    height: 170px;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

.s2-img img {
    width: 170px;
    height: 170px;
    border-radius: 16px;
}

.s3 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.s3-content {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.s3-content .body {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.s3-content .foot {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #1f2937;
    font-weight: 700;
}

.s4 {
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.s4-content {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    border-radius: 6px;
    padding: 40px 100px;
    margin: 100px;
}

.content-container .head {
    font-size: 24px;
    font-weight: 700;
}

.s4-content button {
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 8px;
    width: 130px;
    height: 35px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
}

#main.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
    color: white;
}